

<footer class="bg-dark">
    <div class="container">
       <div class="row">
        <div class="col-md-12 pt-5"></div>
        </div>
        
        <div class="row text-light mt-5">
            <div class="col-md-3 wow slideInLeft">
            <div class="footer-heading">
            SOBRE NOSOTROS
            </div>
            <p class="footer-text mt-3">Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
            
            </div>
            
            <div class="col-md-3 wow slideInRight">
             <div class="footer-heading">
            PREGUNTAS FRECUENTES
            </div>
                <div class="row">
                <div class="col-md-6">
                    <ul class="footer-list mt-3">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Track Orders</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">Jobs</a></li> 
                  <li><a href="#">Shipping</a></li> 
                  <li><a href="#">Blog</a></li>  
                </ul>
                    </div>
              <div class="col-md-6">
                    <ul class="footer-list mt-3">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Track Orders</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">Jobs</a></li> 
                  <li><a href="#">Shipping</a></li> 
                  <li><a href="#">Blog</a></li>  
                </ul>
                    </div>      
                </div>
                
                
            </div>
            
            <div class="col-md-3 wow slideInDown">
            <div class="footer-heading"> POSTEOS RECIENTES </div>
            <div class="media mt-3"> 
                <div class="media-body">
                <h5 class="mt-0">Purple hair style</h5>
                Cras sit amet nibh libero, in gravida nulla. </div>
              </div>
            <div class="media"> 
                <div class="media-body">
                <h5 class="mt-0">Dark Fashion</h5>
                Cras sit amet nibh libero, in gravida nulla. </div>
              </div>
          </div>
            
            <div class="col-md-3 wow slideInUp">
            <div class="footer-heading">
            CONTACTO
            </div>
            <p class="footer-text mt-3"><i class="fa fa-home" aria-hidden="true"></i> : 2-6-498/2,jaipuri colony</p>
            <p> <i class="fa fa-envelope-o" aria-hidden="true"></i> : debjyoti.das7@gmail.com</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i> : +91 7396 4036 72</p>
            <p><i class="fa fa-fax" aria-hidden="true"></i> : 044 61151556 55</p>  
                
            </div>
            
            
        </div>
        
        <hr>
        
        <div class="footer-endline text-center text-light mt-2 pb-4 wow fadeIn" >JorHess @copywrite 2020</div>
       </div> 
   </footer> 

 


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
      <script>
      var wow = new WOW(
  {
    boxClass:     'wow',      // animated element css class (default is wow)
    animateClass: 'animated', // animation css class (default is animated)
    offset:       0,          // distance to the element when triggering the animation (default is 0)
    mobile:       true,       // trigger animations on mobile devices (default is true)
    live:         true,       // act on asynchronously loaded content (default is true)
    callback:     function(box) {
      // the callback is fired every time an animation is started
      // the argument that is passed in is the DOM node being animated
    },
    scrollContainer: null,    // optional scroll container selector, otherwise use window,
    resetAnimation: true,     // reset animation on end (default is true)
  }
);
wow.init();
      </script>
      
      <script>
       $(window).scroll(function(){
        var scroll = $(window).scrollTop();
        if(scroll < 900){
            $('.fixed-top').css('background', 'transparent');
        } else{
            $('.fixed-top').css('background', 'rgba(255, 20, 147, 0.7)');
        }
    });
      </script>


            


  </body>


</html>