<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Electro Mirenzi SRL</title>
    <link
      href="https://fonts.googleapis.com/css?family=Courgette"
      rel="stylesheet"
    />

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container-fluid">

        <div class="row min-vh-100">
            <div class="col-12">
                <header class="row">
                    <!-- Top Nav -->
                    <div class="col-12 bg-dark py-2 d-md-block d-none">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <ul class="top-nav">
                                    <li>
                                        <a href="tel:+123-456-7890"><i class="fa fa-phone-square mr-2"></i>+123-456-7890</a>
                                    </li>
                                    <li>
                                        <a href="mailto:mail@ecom.com"><i class="fa fa-envelope mr-2"></i>mail@ecom.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-auto">
                                <ul class="top-nav">
                                        <% if(user) { %>
                                         
                                    <li>
                                        <a href="/users/profile"><i class="fas fa-user-edit mr-2"></i>Perfil</a>
                                    </li>
                                    <li>
                                        <a href="/users/logout"><i class="fas fa-user-edit mr-2"></i>Logout</a>
                                    </li>
                                         <% } else { %>     
                                
                                     <li>
                                          <a href="/users/signup"><i class="fas fa-user-edit mr-2"></i>Register</a>
                                    </li>
                                    <li>
                                            <a href="/users/signin"><i class="fas fa-sign-in-alt mr-2"></i>Login</a>
                                    </li>
                                                        
                                            


                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Top Nav -->

                    <!-- Header -->
                    <div class="col-12 bg-white pt-4">
                        <div class="row">
                            <div class="col-lg-auto">
                                <div class="site-logo text-center text-lg-left">
                                    <a href="/">Electro Mirenzi SRL</a>
                                </div>
                            </div>
                         
                            <div class="col-lg-5 mx-auto mt-4 mt-lg-0">
                                
                            </div>
                            <div class="col-lg-auto text-center text-lg-left header-item-holder">
                                
                                <a href="/shopcart/" class="header-item">
                                    
                                    <i class="fas fa-shopping-bag mr-2"></i><% if(session.cart) { %><span id="header-qty" class="mr-3"><%= session.cart.totalQty%></span>
                                    <% } %>
                                </a>
                            </div>
                        </div>
                        <% } %>

                        <!-- Nav -->
                        <div class="row">
                            <nav class="navbar navbar-expand-lg navbar-light bg-white col-12">
                                <button class="navbar-toggler d-lg-none border-0" type="button" data-toggle="collapse" data-target="#mainNav">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="mainNav">
                                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="electronics" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Electronics</a>
                                            <div class="dropdown-menu" aria-labelledby="electronics">
                                                <a class="dropdown-item" href="/produnoindex/:1">Computers</a>
                                                <a class="dropdown-item" href="/proddosindex/:1">Mobile Phones</a>
                                                <a class="dropdown-item" href="/prodtresindex/:1">Television Sets</a>
                                                <a class="dropdown-item" href="/prodcuatroindex/:1">DSLR Cameras</a>
                                                <a class="dropdown-item" href="/prodcincoindex/:1">Projectors</a>
                                            </div>
                                        </li>
                                        <% if(user) { %>
                                          
                                            <li class="nav-item">
                                              <a class="nav-link" href="/perfil/1">Perfil</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link" href="/users/logout">Logout</a>
                                            </li>
                                            <% } else { %>                    
                                          
                                            <li class="nav-item">
                                                <a class="nav-link" href="/users/signin">Login</a>
                                              </li>
                                              <li class="nav-item">
                                                  <a class="nav-link" href="/users/signup">Register</a>
                                                </li>
                                             <% } %>
                                       
                                        
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Nav -->

                    </div>


                </header>
            </div>