body {
    background-color: #eaeaea;
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    transition: color .2s linear 0s;
}

.top-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

}

.top-nav li {
    display: inline;
    padding: .1rem .5rem;
    border-right: 1px solid #fff;
}

.top-nav li:last-of-type {
    border-right: 0;
}

.top-nav li a {
    color: #e0e0e0;
    text-decoration: none;
}

.top-nav li a:hover, .top-nav li a:focus {
    color: #fff;
}

.site-logo {
    font-size: 2rem;
    line-height: 1;
    font-family: 'Righteous', cursive;
}

.site-logo img {
    max-height: 60px;
}

.site-logo a {
    color: #404040;
}

.site-logo a:hover, .site-logo a:focus {
    text-decoration: none;
    color: #000;
}

.header-item {
    padding: .25rem .4rem;
    cursor: pointer;
    color: #656565;
    transition: color .2s linear 0s;
    font-weight: bold;
    line-height: 2.5;
}

.header-item img {
    max-width: 220px;
    max-height: 55px;
}

.header-item-holder .header-item:hover, .header-item-holder  .header-item:focus {
    color: #000;
    text-decoration: none;
}

.nav-item {
    margin-right: 5px;
    font-size: 24px;

}

.nav-item:last-of-type {
    margin-right: 0;
}

.nav-item .nav-link {
    padding-top: .2rem;
    padding-bottom: .3rem;
}

.product-item {
    box-shadow: #ccc 0 0 10px 1px;
}

.product-item:hover {
    box-shadow: #aaa 0 0 10px 1px;
}

.product-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #656565;
}

.product-name.large {
    font-size: 25px;
    line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

.product-name small {
    font-size: .85rem;
    display: block;
    width: 100%;
}

a.product-name:hover, a.product-name:focus {
    color: #000;
    text-decoration: none;
}

.product-price-old {
    text-decoration: line-through;
    color: #ccc;
    font-weight: 600;
    font-size: 18px;
}

.product-price {
    font-size: 24px;
    font-weight: 600;
}

.footer-logo {
    font-size: 1.65rem;
    font-family: 'Righteous', cursive;
}

.footer-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav li {
    margin-top: 10px;
}

.footer-logo a, .footer-nav a{
    color: #e0e0e0;
    text-decoration: none;
}

.footer-logo img {
    max-height: 40px;
}

.social-icon {
    color: #e0e0e0;
    font-size: 13px;
    margin-right: 10px;
}

.footer-logo a:hover, .footer-logo a:focus, .footer-nav a:hover, .footer-nav a:focus, .social-icon:hover, .social-icon:focus {
    color: #fff;
}

.message-holder {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    width: 400px;
    max-width: calc(100vw - 2rem);
    z-index: 1080;
}

.message-holder .alert {
    box-shadow: #707070 1px 2px 5px;
}

.product-item {
    position: relative;
    overflow: hidden;
}

.new {
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 5;
    background-color: rgba(233, 10, 10, .85);;
    color: #fff;
    padding: 3px 15px;
    width: 0;
    transition: all .3s ease-out 0s;
}

.product-item:hover .new {
    left: 0;
    width: auto;
}

.large-holder {
    border-right: 1px solid #c0c0c0;
}

.large-holder:last-of-type {
    border-right: 0;
}

.large-icon {
    font-size: 45px;
}

.large-text {
    font-size: 25px;
    line-height: 2.6;
}

.slider-img {
    width: 100%;
    height: auto;
}

.large-icon, .large-text {
    color: #6c6c6c;
}

.img-large {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-large:hover {
    background-size: 300%;
    cursor: zoom-in;
}

.img-small {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.detail-price {
    font-weight: bold;
    font-size: 2.6rem;
    color: #616161;
    display: block;
}

.detail-price-old {
    text-decoration: line-through;
    font-size: 1.6rem;
    font-weight: bold;
    color: #939393;
    display: block;
}

.sidebar {
    border-left-width: 1px !important;
    border-top-width: 0 !important;
}

.average-rating {
    font-weight: bold;
    font-size: 4.6rem;
}

.rating-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rating-list li {
    display: inline-block;
    width: 100%;
    height: 15px;
}

.rating-list .progress {
    width: 170px;
    height: 15px;
    border-radius: 0;
    margin-right: 10px;
    float: left;
    background-color: #cccccc;
}

.rating-list .progress .progress-bar {
    font-size: 10px;
    font-weight: bold;
}

.rating-list .rating-progress-label {
    line-height: 1;
    font-size: 14px;
    float: left;
}

.bg-gray {
    background-color: #e4e4e4;
}

.ratings {
    margin-top: 5px;
}

.ratings input {
    display: none;
}

.ratings label:before {
    font-family: "Font Awesome 5 Free", fantasy;
    content: '\f005';
    font-size: 20px;
    margin-right: 3px;
    cursor: pointer;
}

.ratings label:hover:before, .ratings label:hover ~ label:before, .ratings input:checked ~ label:before {
    font-weight: bold;
}

.pagination {
    font-size: 20px;
}

.pagination .page-link {
    background-color: transparent;
    border: 0;
    margin-right: 10px;
    color: #656565;
}

.pagination .page-link:hover, .pagination .page-link:focus {
    color: #000;
}

.pagination .page-item.disabled .page-link {
    background-color: transparent;
    color: #9fa9ab;
}

.pagination .page-item.active .page-link {
    background-color: #656565;
    color: #fff;
    font-size: 23px;
    line-height: 1;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    padding-left: 0;
    padding-right: 0;
}

table td, table th {
    vertical-align: middle !important;
}

table td img {
    max-height: 80px;
}

@media (max-width: 767.98px) {

    .sidebar {
        border-left-width: 0 !important;
        border-top-width: 1px !important;
    }

}




























.btnn{
	background-color: #6c6c6c
}

.shopping-cart{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.shopping-cart.dark{
	background-color: #f6f6f6;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.shopping-cart .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #6c6c6c
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
	border-top: 2px solid #6c6c6c;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}

@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left; 
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 22px;
		top: 17px; 
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center; 
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center; 
	}
}


