<% include ../partials/_header %>


<div class="mt-5">
<form action="/checkoutt" method="POST">
  <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
    data-preference-id="<%= preference_id %>" data-button-label="Pagar con Mercado Pago">
    </script>
</form>

</div>  

      <% include ../partials/_footer %>      
     