<% include ../partials/_header %>





<div class="row mt-5">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <div class="card-footer">
              <form action="/checkout" method="post">
                 <button type="submit" class="btn btn-primary btn-lg ">Pagar</button>
            </form>
          </div>
        </div>
    </div>




